@model IEnumerable<dulich.Models.DatVe>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0"> Quản lý Đặt Tour</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Quản lý Đặt Tour
                    </li>
                </ol>
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content Header--> <!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <!--begin::Col-->
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tên</th>
                            <th>Số Điện Thoại</th>
                            <th>Email</th>
                            <th>Số Người</th>
                            <th>Ngày Đặt</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var datVe in Model)
                        {
                            <tr>
                                <td>@datVe.Id</td>
                                <td>@datVe.Ten</td>
                                <td>@datVe.SoDienThoai</td>
                                <td>@datVe.Email</td>
                                <td>@datVe.SoNguoi</td>
                                <td>@datVe.NgayDat.ToString("dd/MM/yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div> <!--end::Col-->
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content-->