@model dulich.Models.Nhaxe

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">Sửa Nhà Xe</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Nhaxe")">Quản lý Nhà xe</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Sửa Nhà Xe
                    </li>
                </ol>
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content Header--> <!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <!--begin::Col-->
            <div class="col-12">
                @using (Html.BeginForm("Edit", "Nhaxe", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        @Html.LabelFor(model => model.TenNhaXe, "Tên Nhà Xe")
                        @Html.TextBoxFor(model => model.TenNhaXe, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TenNhaXe, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SoDienThoai, "Số Điện Thoại")
                        @Html.TextBoxFor(model => model.SoDienThoai, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, "Email")
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                        <a href="@Url.Action("Index", "Nhaxe")" class="btn btn-secondary">Hủy</a>
                    </div>
                }
            </div> <!--end::Col-->
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content-->