@model IEnumerable<dulich.Models.CongTyDuLich>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0"> Quản lý Công ty du lịch</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Quản lý Công ty du lịch
                    </li>
                </ol>
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content Header--> <!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row mb-3">
            <div class="col-12">
                <a href="@Url.Action("Create", "CongTyDuLich")" class="btn btn-primary">Thêm Công Ty Du Lịch</a>
            </div>
        </div> <!--end::Row-->
        <!--begin::Row-->
        <div class="row">
            <!--begin::Col-->
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tên Công Ty</th>
                            <th>Thông Tin Liên Hệ</th>
                            <th>Hành Động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var congTy in Model)
                        {
                            <tr>
                                <td>@congTy.Id</td>
                                <td>@congTy.Ten</td>
                                <td>@congTy.ThongTinLienHe</td>
                                <td>
                                    <a href="@Url.Action("Edit", "CongTyDuLich", new { id = congTy.Id })" class="btn btn-warning">Sửa</a>
                                    @using (Html.BeginForm("Delete", "CongTyDuLich", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="@congTy.Id" />
                                        <input type="submit" value="Xóa" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa công ty này?');" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div> <!--end::Col-->
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content-->