@model dulich.Models.ChuyenDuLich

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">Thêm Chuyến Du Lịch</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "ChuyenDuLich")">Quản lý Chuyến du lịch</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Thêm Chuyến Du Lịch
                    </li>
                </ol>
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content Header--> <!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <!--begin::Col-->
            <div class="col-12">
                @using (Html.BeginForm("Create", "ChuyenDuLich", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(model => model.TenChuyen, "Tên Chuyến")
                        @Html.TextBoxFor(model => model.TenChuyen, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TenChuyen, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NgayKhoiHanh, "Ngày Khởi Hành")
                        @Html.TextBoxFor(model => model.NgayKhoiHanh, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                        @Html.ValidationMessageFor(model => model.NgayKhoiHanh, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NgayKetThuc, "Ngày Kết Thúc")
                        @Html.TextBoxFor(model => model.NgayKetThuc, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                        @Html.ValidationMessageFor(model => model.NgayKetThuc, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DiaDiemDuLichId, "Địa Điểm Du Lịch")
                        @Html.DropDownListFor(model => model.DiaDiemDuLichId, new SelectList(ViewBag.DiaDiemDuLich, "Id", "Ten"), "Chọn Địa Điểm", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DiaDiemDuLichId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CongTyDuLichId, "Công Ty Du Lịch")
                        @Html.DropDownListFor(model => model.CongTyDuLichId, new SelectList(ViewBag.CongTyDuLich, "Id", "Ten"), "Chọn Công Ty", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CongTyDuLichId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Gia, "Giá")
                        @Html.TextBoxFor(model => model.Gia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.HinhAnh, "Hình Ảnh")
                        <input type="file" name="HinhAnh" class="form-control" />
                        @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Thêm" class="btn btn-primary" />
                        <a href="@Url.Action("Index", "ChuyenDuLich")" class="btn btn-secondary">Hủy</a>
                    </div>
                }
            </div> <!--end::Col-->
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content-->

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var ngayKhoiHanhInput = document.querySelector("input[name='NgayKhoiHanh']");
            var ngayKetThucInput = document.querySelector("input[name='NgayKetThuc']");

            ngayKhoiHanhInput.addEventListener("change", function () {
                var ngayKhoiHanh = new Date(ngayKhoiHanhInput.value);
                var today = new Date();
                today.setHours(0, 0, 0, 0);

                if (ngayKhoiHanh < today) {
                    alert("Ngày Khởi Hành không được bé hơn ngày hiện tại.");
                    ngayKhoiHanhInput.value = "";
                }
            });

            ngayKetThucInput.addEventListener("change", function () {
                var ngayKhoiHanh = new Date(ngayKhoiHanhInput.value);
                var ngayKetThuc = new Date(ngayKetThucInput.value);

                if (ngayKetThuc < ngayKhoiHanh) {
                    alert("Ngày Kết Thúc không được bé hơn Ngày Khởi Hành.");
                    ngayKetThucInput.value = "";
                }
            });
        });
    </script>
}